@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

.app-div {
  min-height: 100vh;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.app-title{
  font-family: 'Potta One', cursive;
  text-align: center;
  padding-top: 20px;
  color: rgb(212, 73, 73);
  text-shadow: 3px 3px 5px rgb(61, 26, 26);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  outline-color: blueviolet;
}

.search-button{
  background: lightcoral;
  border: none;
  outline: none;
  padding: 10px 20px;
  color: white;
  margin-left: 10px;
}

.search-button:hover{
  background-color: rgb(209, 82, 82);
  transition-duration: 1s;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 60vh;
}

.footer a{
  text-decoration: none;
}